.vp-doc{
    padding: 24px;
    
    p{
        margin: 1em 0;
    }

    .header-anchor{
        position: unset;
        left: unset;
        margin-left: .42em;
    }

    h1{
        font-size: 30px;
        line-height: 1.2;

        .header-anchor{
            display: none;
        }
    }
    
    h2{
        font-size: 24px;
        padding-top: unset;
        border-top: unset;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 12px;
    }
    h2,h3,h4,h5,h6{
       margin: 1.6em 0 .6em;
    }

    [class*=language-] code{
        font-size: 1.1em;
    }

    table{
        display: table;
        width: 100%;
        table-layout: fixed;
        border-radius: 8px;

        tr{
            border-top: unset;
        }

        tr:nth-child(2n){
            background: unset;
        }

        tbody tr:hover{
            background: var(--ant-pro-color-fill-tertiary);
        }

        th,td{
            padding: 16px 24px;
            text-align: left;
            border: unset;
            border-bottom: 1px solid var(--ant-pro-color-fill-secondary);
        }

        th{
            color: var(--ant-pro-color-text);
            background: var(--ant-pro-color-fill-alter);
        }

        tr th:not(:last-child){
            position: relative;

            &::after{
                content: '';
                position: absolute;
                right: 0.5px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 1.5em;
                background: var(--ant-pro-color-fill-secondary);
            }
        }
    }

}
